body{
  vertical-align : middle;
  text-align : center;
  margin : 0 auto;
}

.fullcontent{
  margin : 50px;
}

/* Mobile Device */
@media screen and (max-width : 767px) {
  *{
    width: auto;
    height : auto;
    font-size: 500%;
  }
}

/* Tablet Device */
@media screen and (min-width : 768px) and (max-width : 991px) {

}

/* Desktop Device */
@media screen and (min-width : 992px) {

}
