body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 200%;
  vertical-align : middle;
  text-align : center;
  margin : 0 auto;
  padding-left: 200px;
  padding-right: 200px;
}

select{
  margin : auto;
  padding : 500px;
}

p{
  font-size : 200%;
  margin : 100px;
}

.fullcontent{
  background: white;
  margin-bottom: auto;
}


/* Mobile Device */
@media screen and (max-width : 767px) {
  *{
    width: 200% auto;
    height : 300% auto;
    font-size: 500%;
  }
}

/* Tablet Device */
@media screen and (min-width : 768px) and (max-width : 991px) {

}

/* Desktop Device */
@media screen and (min-width : 992px) {

}
