body{
  vertical-align : middle;
  text-align : center;
  margin : 0 auto;
}

/* Mobile Device */
@media screen and (max-width : 767px) {
  *{
    width: 200% auto;
    height : 300% auto;
    font-size: 500%;
  }
}

/* Tablet Device */
@media screen and (min-width : 768px) and (max-width : 991px) {

}

/* Desktop Device */
@media screen and (min-width : 992px) {
  .p{
    font-size: 300%;
    padding-top: 200px;
  }
  .fullcontent{
    margin : 800px;
  }
}
